.button-top{
    background-color: #E91E63;
    font-size: 15px;
    text-align:center;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    float:right;
    margin-right:302px;
    border: 0px ;
}
.div-main{
    width: 800px;
    padding-top:50px;
    margin: auto;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}
h5{
    font-weight: 400;
}
h1{
    font-weight: 800;
    font-size: 55px;
}
.div-icon-text{
    padding-top: 9px;
    padding-bottom: 9px;
    color: #90A4AE;
    display: flex;
    font-size: 13px;
}
.center-icon-text{
    align-items: center;
    display: flex;
    padding-right: 15px;
}
.div-icon-text2{
    font-size: 13.5px;
    color: #90A4AE;
    align-items: center;
    display: flex;
}
.img-center{ width: 800px}
.buttons{
    width: 156px;
    height: 40px;
    color: white;
    border: 0px;
    display: flex;
    align-items: center;
    margin-left: 5.4px;
    font-size: 13px;
}
.div-box{
    width: 800px;
    height: 200px;
    background-color: #EFEFF1;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.div-img{
    border-radius: 100%;
    padding: 30px;
}
.text-box{
    padding: 15px 15px 15px 0;
    line-height: 30px;
}
.span1-box{
    font-weight: 700;
    color: #455A64;
}
.span23-box{
    font-size: 14px;
}
.div-bottom{
    display: flex;
    align-items: center;
    position:relative;
    line-height: 3px
}
.f-p13{
    font-size: 16px;
}
.f-p24{
    font-size: 11px;
}
.f-I{
    font-size: 30px;
}
.s-p-r{
    text-align: right;
    color: #90A4AE;
}
.s-p-l{
    text-align:left;
    color: #90A4AE;
}


@media screen and (max-width: 375px) {
    .button-top{
        width: 23px;
        height: 10px;
        font-size: 8px;
        margin-right: 8px;
        border-radius: 3px;
    }
    .div-main{
        width: 300px;
        margin: auto;
    }
    h5{
        font-size: 10px;
    }
    .img-center{
        width: 300px;
    }
    h1{
        font-weight: 800;
        background-color: #D9483B;
        font-size: 40px;
    }
    .div-icon-text{
        padding-top: 5px;
        padding-bottom: 5px;
        color: #90A4AE;
        display: block;
        font-size: 10px;
    }

    .buttons{
        width: 60px;
        height: 60px;
        color: white;
        border: 0px;
        display:block;
        margin-left: 5.4px;
        font-size: 10px;
        padding: 0px;
        align-items: center;
    }
    .div-box{
        width: 300px;
        height: 400px;
        background-color: #EFEFF1;
        display: block;
        /*padding-left:30px;*/
        margin: auto;
    }
    .div-img{
        border-radius: 80%;
        padding: 40px 80px 20px 80px;}
    .text-box{
        padding: 15px 15px 15px 15px;
        line-height: 30px;
    }
    .f-p13{
        font-size: 14px;
    }
    .f-p24{
        font-size: 9px;
    }
    .f-I{
        font-size: 25px;
    }
}